<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>Astronomy</h2>
    <div class="spacer">
        <h3>Edit history</h3>
        <ul>
            {{#each edits}}
            <li>
                <a href="/article/selectedEdit/{{_id}}">{{creationDate}}‎</a> by
                <span class="author">{{author}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</section>