<h1>Create a car</h1>
<form method="post" action="/cars/create" enctype="multipart/form-data">
    <input type="text" name="make" placeholder="enter make" />
    <input type="text" name="model" placeholder="enter model" />
    <input type="number" name="price" placeholder="enter price per day" />
    <input type="text" name="imageUrl" placeholder="enter image url" />
    <input type="text" name="color" , placeholder="enter color (optional)" />
    <input id="submit" type="submit" value="CREATE" />
</form>