<h1>Edit a car</h1>
<form method="post"  enctype="multipart/form-data">
    <input name="make" value="{{car.make}}" />
    <input name="model"  value="{{car.model}}" />
    <input name="imageUrl"  value="{{car.imageUrl}}" />
    <input name="color",  value="{{car.color}}" />
    <input id="submit" type="submit" value="EDIT" />
</form>