<h1>Rent a car</h1>
<form method="post"  enctype="multipart/form-data">
    <input type="number" name="duration" placeholder="days of rent" />
    <input id="submit" type="submit" value="RENT" />
</form>