<div class="jumbotron">
  <div class="container">
    <h1>Find a movie</h1>
    <p>Search for a movie using the form below:</p>
    <form #form="ngForm" (submit)="search(form.value)">
      <input type="text" class="form-control" name="search" ngModel>
      <button type="sumbit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div *ngIf="isSearched">
    <div class="panel-heading">
      <h3 class="panel-title">Search Results</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of searchRes.results;let i=index" class="col-md-2">
          <div *ngIf="i<6">
            <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie image" class="thumbnail">
            <h4>{{movie.title}}</h4>
            <p>{{movie.release_date}}</p>
            <p>
              <a class="btn btn-default" routerLink="/movie/{{movie.id}}">View Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of popularMovies.results;let i=index" class="col-md-2">
        <div *ngIf="i<6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie image" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p>
            <a class="btn btn-default" routerLink="/movie/{{movie.id}}">View Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kids Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of kidsMovies.results;let i=index" class="col-md-2">
        <div *ngIf="i<6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie image" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p>
            <a class="btn btn-default" routerLink="/movie/{{movie.id}}">View Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Best Dramas</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of dramaMovies.results;let i=index" class="col-md-2">
        <div *ngIf="i<6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie image" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p>
            <a class="btn btn-default" routerLink="/movie/{{movie.id}}">View Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">In Theathres</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of inTheathersMovies.results;let i=index" class="col-md-2">
        <div *ngIf="i<6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie image" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p>
            <a class="btn btn-default" routerLink="/movie/{{movie.id}}">View Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>