<div class="jumbotron">
  <h1 class="display-4">Welcome to sportsTalk</h1>
  <p class="lead">
    sportsTalk is a blog application where sports fans of all types can unite and share their passion for sports.
    Enjoy in-depth disscussions about all things related to the sport you like.
  </p>
  <hr class="my-4">
  <p>If you are eager to create content click below and sign up</p>
  <div >
      <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/auth/signup" role="button">Sign Up</a>
        </p>
  </div>
</div>